LittlePaimon/artifact
!LittlePaimon/artifact/不知名毛.png
!LittlePaimon/artifact/不知名花.png
LittlePaimon/avatar
LittlePaimon/avatar_side
LittlePaimon/talent
LittlePaimon/weapon
LittlePaimon/splash
LittlePaimon/furniture
LittlePaimon/material
LittlePaimon/genshin_map/results
genshin_guide/guide/download.py
.idea
resources.zip
star_rail.zip